/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
database/*.sqlite
database/*.sqlite-journal
database/*.sqlite-shm
database/*.sqlite-wal
composer.phar
.idea
.vscode
